@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    font-family: "Madimi One";
    margin:0;
}
body {
    background-size: cover;
    background-image: url('img/fotoquiz_1 (1).jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
p{
    font-size: 1.5rem;
}
h3{
    font-size: 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3.um strong{
    font-size: 3rem;
    text-decoration: underline;
    color:#12971b;
    text-decoration-color: #12971b;
}
h3.is strong{
    font-size: 3rem;
    text-decoration: underline;
    color: #0C2373;
    text-decoration-color: #0C2373;
}
button{
    font-family: "Krona One";
    font-size: 2rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    touch-action: manipulation;
    border: none;
    padding: 10px;
    color:whitesmoke;
    margin-top: 10px;
    background-color: #12971b;
}

.container-quiz{
    flex-direction: column;
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 440px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    gap:1rem;
    text-align: center;
}
.container-quiz form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.container-quiz div{
    width: 80%;
    height: 75px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: background-color 0.25s cubic-bezier(0.19, 1, 0.22, 1),
                color 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.container-quiz div h1{
    display: flex;
    align-items: center;
}
.container-quiz div:has(input[type="radio"]:checked){
    background-color:#12971b;
    color:whitesmoke;
    scale: 1.1;
    transition: 0.5;
}
.container-quiz div:has(input[type="radio"]:hover), .container-quiz div:has(input[type="radio"]:focus){
    scale: 1.05;
    transition: 0.5;
}
.container-quiz div input[type="radio"]{
    position: absolute;
    background-color: wheat;
    width: 300px;
    margin: 0;
    height: 70px;
    transform: translateX(-10px) translateY(-10px);
    opacity:0;
    transition: 0.5;
}
h2{
    display: none;
    background-color: whitesmoke;
    font-size: 2rem;
    animation: fade-out;
    width: fit-content;
    padding: 10px;
    margin:10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    align-items: center;
    justify-content: center;
    animation: fade-out 2s cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
    flex-direction: column;
}
h2.um{
    color: #12971b;
    display: flex;
    text-decoration-color: #12971b;
    height: fit-content;
}
h2 p{
    font-size: 4rem;
    text-decoration: underline;
}
h2 p.errou{
    color:crimson;
    text-decoration-color: crimson !important;
}
@keyframes fade-out {
    0%{opacity:1}
    50%{opacity: 1;}
    80%{opacity:0; font-size:2rem; margin: 10px auto}
    100%{opacity:0; font-size: 0rem; margin: 0px auto;}
}
.time{
    background-color: whitesmoke;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 0 5px 0 black;
    border-radius: 10px;
    color:whitesmoke;
    height:fit-content;
    width: fit-content;
    margin:10px;
}
.time.um{
    background-color:#750000;
}