* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d9d9d9;
    color: #000000;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
body:has(.musicaslistar){
    justify-content: flex-start;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    width: 400px;
    height: 500px;
    padding: 40px;
    background-color:#fff9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.login-box2 {
    width: 400px;
    height: 500px;
    padding: 40px;
    background-color:#fff9f9;
    height: 100%;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
h2 {
    font-size: 1.2em;

}
.login-box2 h1{
    margin-bottom: 20px;
    font-size: 40px;
    text-decoration: underline 4px solid #ffc760;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background-color:#dad0d0;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    color: #0c0606;
    font-size: 16px;
}
select{
    background-color:#DAD0D0;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}

input::placeholder {
    color: #383636;
}

.login-btn {
    background-color: #042772;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    border-radius: 15px;
}

.login-btn:hover {
    background-color: #1a65a3;
}

.divider {
    margin: 10px 0;
    color: #3d3d3d;
    font-size: 14px;
}

.fb-login-btn {
    background-color:#e6e2e2;
    width: 300px;
    border: 2px 2px solid white;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.fb-login-btn:hover {
    background-color: #334d84;
}

.signup-text {
    font-size: 18px;
    color: #b3b3b3;
    margin-top: 1px;
}

.signup-text a {
    color: #064b99;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

.linha{
    border: 1px solid #292929;
}
.dd{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #3B761C;
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 8px solid #00ff08;
}

header .logo img {
    width: 40%;
    height: 40%;
}

nav ul {
    display: flex;
    list-style: none;
    gap:1rem;
}

nav ul li{
    display: flex;
    flex-direction: row;
    gap:.5rem;
    width: 150px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    transition: 1s;
    color: #1b1b1a;
}

.main-content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 750px;
    padding: 20px;
    background-color: #121212;
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #b3b3b3;
}

.sidebar ul li a:hover {
    color: #1db954;
}

.content-area {
    flex: 1;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 1rem;
}

.content-area h2 {
    font-size: 28px;
    margin-bottom: 1rem;
}

.album-list {
    display: flex;
    gap: 20px;
}

.album {
    text-align: center;
}

.album img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.main{
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 100vh;
}
.img {
    width: 75vw;
    height: 100vh;
    background-image: url(../img/Captura\ de\ tela\ 2025-02-07\ 095701.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background-color: #000;
    color: #b3b3b3;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
@media (max-width: 992px){
    .img{
        min-width: 0;
        width: 0;
    }
}
.container {
    width: 100%;
    display: flex;
    background-color: #F0F0F0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container2{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(187, 191, 196);
}
.left-section {
    width: 50%;
    padding: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
    color: rgb(63, 121, 6);
}

.right-section {
    width: 50%;
    padding: 30px;
    display: flex;
}

.right-section h2 {
    margin-top: 0;
}

.logo2 {
    display: flex; /* Usando flexbox */
    justify-content: flex-start; /* Alinha a imagem à esquerda */
    margin-top: 20px;
    align-items: center;
}

.logo2 img {
    width: 100%;
    height: 100%;
}