<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estiloplay.css">
    <title>PLAY GAME</title>
</head>
<body>
     <form method="POST" action="index.php?action=iniciar_jogo"> 
      <button  name="total_perguntas" value="10" type="submit"><strong>JOGAR!</strong></button>
    </form>
<a href="index.php?action=regitrar_pergunta" >aaaaaaaaaaaaaaaaa</a>
</body>
</html>