<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleset.css">
    <title>PLAY GAME</title>
</head>
<body>    
    <header>
         <form method="POST" action="index.php?action=iniciar_jogo"> 

      <button  name="total_perguntas"  type="submit"><strong>Iniciar quiz</strong></button>
                  <input type="hidden" name="total_perguntas"  value="5">
    </form>
</a>
</header>

<a href="index.php?action=regitrar_pergunta" >aaaaaaaaaaaaaaaaa</a>
</body>
</html>