<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noticia</title>
    <link rel="stylesheet" href="style.css">
    <div class="texto">
    <h1 >Projeto Luz, Câmera, ConscientizAção incentiva a prática sobre Desenvolvimento Sustentável através de produção de vídeos</h1></div>
    <div class="noticia">
    <h3>Iniciativa realizada no Amazonas integra o programa “SBPC vai à Escola”</h3>
    <img src="img/IMG_7118.jpg" alt="" width="800" height="600">
</div>
<div class="noticia">
    <p>
        Incentivar a formação de multiplicadores sobre a prática do desenvolvimento sustentável por meio da produção de vídeos e ações criativas de conscientização. Esse foi o objetivo do projeto “LUZ, CÂMERA, ConscientizAÇÃO:  produção audiovisual para fomentar a educação ambiental na Escola Estadual Nathália Uchôa”, projeto aprovado pela Sociedade Brasileira para o Progresso da Ciência (SBPC) por meio do programa “SBPC vai à Escola”.

    </p>
</div>
<br>
<div class="noticia">
    <p>
        Os vídeos elaborados durante o projeto foram exibidos pela primeira vez no sábado, dia 21, às 13h no Cine Silvino Santos, localizado no Centro Cultural dos Povos da Amazônia (CCPA). O projeto foi coordenado pela profa. Denise Bezerra Rodrigues (SEDUC-AM) e contou com apoio dos professores do Curso de Relações Públicas da Universidade Federal do Amazonas (UFAM), Israel de Jesus Rocha e Jonas Gomes Jr.

    </p>
</div>
<br>
<div class="noticia">
    <p>
        De acordo com Denise Rodrigues, o objetivo do projeto Luz, Câmera, Conscientização foi  alcançado. “Incentivar a formação de multiplicadores sobre a prática do desenvolvimento sustentável por meio da produção de vídeos, utilizando os princípios da Produção Audiovisual e Educação Ambiental. Os vídeos estão muito lindos e abordam temas atuais e importantes, como inclusão, reciclagem, saúde, sustentabilidade e outros”, comentou.

    </p>
</div>
<br>
<div class="noticia">
    <p>
        Considerando que a Organização das Nações Unidas (ONU) definiu o período de 2022-23 como o Ano Internacional das Ciências Básicas para o Desenvolvimento Sustentável, os vídeos produzidos ressaltam a ligação com os Objetivos de Desenvolvimento Sustentável (ODS), em especial os ODS 3: Assegurar uma vida saudável e promover o bem-estar para todas e todos, em todas as idades; ODS 4: Assegurar a educação inclusiva e equitativa e de qualidade, e promover oportunidades de aprendizagem ao longo da vida para todas e todos e ODS 12: Assegurar padrões de produção responsáveis e de consumo sustentáveis.

    </p>
</div>
<br>
<div class="noticia">
    <p>
        O projeto durou seis meses e contou com a realização de oficinas sobre Educação Ambiental que tiveram o intuito de estimular os estudantes para a adoção de hábitos capazes de promover a reutilização e a reciclagem de resíduos sólidos, bem como o consumo econômico de água, desse modo conscientizando esse público para a importância de garantir a sustentabilidade da Amazônia por meio da preservação ambiental.

    </p>
</div>
<br>
<div class="noticia">
    <p>
        A fase da produção audiovisual contou com os alunos da disciplina de Educação Ambiental, ministrada pelo prof. Israel Rocha no curso de Relações Públicas (UFAM).  Foram feitas oficinas de criação de roteiros e vídeos em função do objetivo da atividade que se pretendia executar. As oficinas foram ministradas pelo produtor Flávio Moura, buscando apresentar todas as etapas de produção de um vídeo criativo: criação de roteiro, iluminação, produção e finalização.
    </p>
</div>
<div class="noticia">
    <p>
        “Ao incentivar a formação de multiplicadores ambientais, acredita-se que o ambiente escolar foi impactado positivamente no respeito ao verde e houve um aprendizado por parte de todos os envolvidos no processo”, destacou a coordenadora do projeto.
    </p>
</div>














































</head>
<body>
    
</body>
</html>