<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noticia</title>
    <link rel="stylesheet" href="style.css">
    <div class="texto">
    <h1>A importância da Educação Ambiental no desenvolvimento de seu filho</h1></div>
    <div class="noticia">
    <h3>Conscientização começa por meio de ambiente especialmente criado para estimular descarte correto e conscientização sobre o meio-ambiente.</h3>
    <img src="img/img1.avif" alt="" width="800" height="600">
</div>
<div class="noticia">
    <p>
        Por um mundo melhor para as gerações futuras, a Educação Ambiental no Colégio Positivo tem uma abordagem especial na rotina dos alunos: das instalações da instituição aos assuntos do dia a dia, a ideia é que os estudantes pensem uma rotina sustentável em todas as suas formas, a fim de criar cidadãos mais conscientes no futuro.
</p>
</div>
<br>
<div class="noticia">
    <p>
        O Prof. Diego Fernando Chagas detalha como funciona parte desse processo. Nos espaços do Colégio Positivo, há lixeiras coloridas para separação correta dos descartes em todas as áreas. Isso, explica ele, promove a conscientização sobre a importância da gestão de resíduos sólidos.
    </p>
</div>
<br>
<div class="noticia">
    <p>
        No Colégio Positivo, há espaços verdes que proporcionam contato direto com a natureza, enquanto salas de aula interativas e equipadas facilitam a integração de conceitos ambientais no currículo.
    </p>
</div>
<br>

<div class="noticia">
    <img src="img/img2.avif" alt="">
</div>
<br>
<div class="noticia">
    <p>
        <h3>Por que brincar ao ar livre? - O Futuro Agora</h3>
    </p>
</div>
<div class="noticia">
    <p>
        As lixeiras e bebedouros sustentáveis incentivam práticas responsáveis, e áreas dedicadas à reciclagem oferecem experiências práticas de gestão de resíduos. Além disso, auditórios para eventos e áreas de convivência ao ar livre promovem discussões e atividades que fortalecem a conscientização ambiental.   
    </p>
</div>
<br>
<div class="noticia">
    <p>
        “Essa prática não apenas fomenta hábitos sustentáveis entre os alunos, mas também cria um ambiente escolar que valoriza a responsabilidade ambiental”, valoriza. “Além disso, temos uma oferta ampla de bebedouros, que contribui para a redução do consumo de plástico descartável e é também uma oportunidade para abordar temas relacionados à conservação da água”.  
    </p>
</div>
<br>
<div class="noticia">
    <h3>Componentes curriculares são pensados para introduzir conceitos ambientais</h3>
</div>
<br>
<div class="noticia">
    <p>
        A Educação Ambiental do Colégio Positivo vai além da infraestrutura física da escola, permeando os componentes curriculares de forma integrada. Ao introduzir conceitos ambientais em disciplinas específicas, a instituição reforça seu compromisso em fornecer aos alunos uma compreensão abrangente das interações entre a sociedade e o meio ambiente.
    </p>
</div>
<br>
<div class="noticia">
    <p>
        A conscientização ambiental, conta o Prof. Chagas, é promovida por meio de atividades dedicadas que se alinham tanto aos anos finais como nos iniciais, no âmbito da Formação Humana.
    </p>
</div>
<div class="noticia">
<p>
    “Para os anos finais, onde há uma ênfase no componente de Formação Humana e Empreendedorismo, são desenvolvidas atividades que exploram a relação entre os aspectos humanos e ambientais”, explica. “Essas atividades podem incluir projetos de empreendedorismo sustentável, discussões sobre ética e valores relacionados ao meio ambiente, entre outros”.
</p>
</div>
<div class="noticia">
    <p>
        Assim, os estudantes são incentivados a compreenderem o papel do empreendedorismo responsável na promoção da sustentabilidade. Já nos anos iniciais, a conscientização ambiental é incorporada ao longo do ano, abordando temas específicos relacionados ao meio ambiente.   
    </p>
</div>
<div class="noticia">
    <h3>Benefícios para o indivíduo e para a sociedade</h3>
    <br>
Essa vivência da Educação Ambiental traz benefícios diversos, sejam para os jovens quanto para a sociedade:
<li>Os jovens desenvolvem consciência ambiental, habilidades críticas e responsabilidade social, promovendo um bem-estar mais sustentável.</li>
</li><br>
<li>Para a sociedade, a Educação Ambiental gera cidadãos conscientes, contribui para a sustentabilidade global, estimula a inovação sustentável e fortalece a preservação do patrimônio natural, reduzindo impactos ambientais negativos.
</li><br>
<li>Por fim, a Educação Ambiental é essencial para formar cidadãos comprometidos com a construção de um futuro mais sustentável.
    </li>
</div>
<div class="noticia">
    <img src="img/corpo-do-texto.avif" alt="">
</div>
<br>
<div class="noticia">
    <h3>Atividades educativas e lúdicas estimulam aquisição de conhecimento</h3>
</div>
<br>
<div class="noticia">
  <p>
     O Prof. Chagas destaca que a ideia é que a Educação Ambiental seja um assunto interessante para os alunos, não uma obrigação. Por isso, as atividades na escola são planejadas para serem educativas e ao mesmo tempo lúdicas.
  </p>
</div>
<div class="noticia">
    <p>
        “Isso se traduz em estratégias como jogos educativos, excursões ao ar livre, dramatizações e projetos práticos, todos projetados para engajar os alunos de forma participativa e estimulante”, conta. O objetivo final, destaca o professor, é ir além das informações; mas, também, promover uma ligação emocional e prática com o meio ambiente.
    </p>
</div>
<div class="noticia">
 <img src="" alt="">
</div>

<div class="noticia">
    <p>
        “A inclusão de elementos lúdicos visa tornar a Educação Ambiental mais acessível, inspiradora e capaz de influenciar positivamente as atitudes dos alunos em relação à sustentabilidade”, conclui.
    </p>
</div>














































</head>
<body>
    
</body>
</html>