<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noticia</title>
    <link rel="stylesheet" href="style.css">


</head>

<body>
    <div class="geral">
        <div class="texto">
            <h1>Educação Ambiental: Promovendo a conscientização sobre práticas sustentáveis</h1>
        </div>
        <div class="noticia">
            
            <img src="img/conscientizacao-sobre-praticas-sustentaveis-dicas.jpg" alt="" width="" height=""><br>
            <h3>Conheça o que é e a importância da educação ambiental e como a conscientização com o meio ambiente pode fazer parte do seu dia a dia</h3>
        </div>
        <div class="noticia">
            <p>No Brasil, temos a Política Nacional de Educação Ambiental (PNEA), uma lei de 1999 que aborda como colocar em prática projetos de educação ambiental visando a promoção de valores socioambientais e a conscientização da social em prol do meio ambiente.
<br><br>
                A legislação é um importante ponto de partida para promover e ampliar as iniciativas educativas focadas no meio ambiente, mas ela ganha sentido mesmo quando praticada em diferentes contextos, como escolas, empresas, comunidades, ONGs e outras.
                <br><br>
                A seguir entenda mais o que é a educação ambiental, qual a importância dela e como promovê-la no seu contexto de vida.
               


            </p>
        </div>
        <div class="texto">
            <h1>O que é a educação ambiental?</h1>
                </div>
        <div class="noticia">
            <p>Mesmo com mais de 20 anos de história, o PNEA continua sendo uma referência importante para entender a educação ambiental. Na Lei a definição é a seguinte:
<br>
                “Entendem-se por educação ambiental os processos por meio dos quais o indivíduo e a coletividade constroem valores sociais, conhecimentos, habilidades, atitudes e competências voltadas para a conservação do meio ambiente, bem de uso comum do povo, essencial à sadia qualidade de vida e sua sustentabilidade.”
               <br> <br>
                Política Nacional de Educação Ambiental – Lei nº 9795/1999, Art 1º.
                <br><br>
                No PNEA, são estipulados oito princípios básicos da educação ambiental, incluindo a importância de uma abordagem humanista, holística, democrática e participativa. 
                <br><br>
                Isso significa que a consciência ambiental deve ser promovida em harmonia com valores sociais importantes, como a pluralidade, a diversidade, a criticidade e a ética.
                <br><br>
                Para colocar a educação ambiental em prática, por sua vez, é incentivada uma perspectiva pedagógica transdisciplinar. Isso significa unir as questões relacionadas ao meio ambiente com outras áreas da vida, como alimentação, trabalho, mobilidade, lazer, etc.
                <br><br>
                Assim, a consciência ambiental não se trata de algo que se faz em um momento específico, como ao plantar uma árvore, mas sim em escolhas do dia a dia.
                <br><br>
                Essa perspectiva faz com que as práticas sustentáveis sejam incorporadas em pequenas ações na rotina, o que faz muito mais diferença para o planeta do que, uma vez por ano, mobilizar-se em uma causa ambiental. 
                


            </p>
        </div>
        <div class="texto">
            <h1>
                Qual a importância da educação ambiental?
            </h1>
        </div>
        <div class="noticia">
            <p>
                Provavelmente, nesse exato instante, você está fazendo uso de uma série de produtos que dependem de matérias-primas originalmente extraídas da natureza.
                <br><br>
                A iniciativa Dia da Sobrecarga da Terra (Earth Overshoot Day) mapeia, anualmente, o dia do ano no qual a humanidade consumiu os recursos naturais que o planeta consegue regenerar em um ano.
                <br><br>
                Em 2024, o Dia da Sobrecarga da Terra acontece em uma quinta-feira, 1 de agosto. Isso significa que todo o consumo global depois dessa data estará sobrecarregando o planeta.
                <br><br>
                Não queremos ser alarmistas, mas a situação do planeta é crítica e um dos caminhos para reverter esse quadro é a educação ambiental.
                <br><br>
                As iniciativas educacionais conscientizam as pessoas sobre a interdependência entre a natureza e a vida humana.
                <br><br>
                Isso significa empoderar as pessoas para que elas tenham informação sobre como suas ações e escolhas impactam o meio ambiente e quais são as consequências futuras desse impacto ambiental.
                <br><br>
                Por muito tempo, as pessoas acreditavam que os danos ambientais só trariam problemas para daqui 300 – 500 anos, mas hoje sabemos que eles estão muito mais próximos.
                <br><br>
                A estimativa é que a próxima geração – provavelmente seus filhos e netos – já arquem com as consequências de séculos de exploração ambiental irresponsável.
                <br><br>
                Uma das poucas formas de reverter essa estimativa é adotar ações mais conscientes e responsáveis em relação ao meio ambiente, entendendo que cada pessoa faz diferença.
            </p>
        </div>
        <div class="texto">
            <h1>
                Como implementar programas de educação ambiental?  
            </h1>
        </div>
        <div class="noticia">
            <p>
                A educação ambiental pode entrar no escopo de qualquer tipo de instituição, como escolas, universidades, empresas, cooperativas, parques, associações de bairro e outras.
                <br><br>
                Como visto, a educação ambiental não se restringe a conteúdos sobre o meio ambiente, incluindo também questões políticas, sociais e éticas.
                <br><br>
                Uma possibilidade para dar início às atividades educativas é contar com um profissional de áreas como: biologia, ecologia, agronomia, gestão ambiental, sociologia, filosofia e comunicação, por exemplo.
                <br><br>
                Um profissional dessas áreas que tenha a atenção voltada à questão ambiental pode estruturar um calendário de aulas e atividades práticas.
                <br><br>
                Entretanto, a prática da educação ambiental não se limita a esses profissionais.
                <br><br>
                É possível recorrer a profissionais diversos para promover o conhecimento sobre aspectos ambientais.
                <br><br>
                O jardineiro, por exemplo, pode dar aulas sobre como cultivar hortaliças em uma horta comunitária. O coletor de lixo pode ser convidado para uma aula sobre descarte e reciclagem. Um veterinário pode ensinar sobre cuidados com animais de rua.
                <br><br>
                Os saberes são fragmentados na sociedade e cada um desempenha uma função, podendo ensinar aos demais sobre aquilo que pratica, seja profissionalmente ou como tema de interesse.
                <br><br>
                Quando essas iniciativas estão presentes localmente, é possível mobilizar-se junto com sua comunidade, seja no condomínio, no bairro, na empresa, na escola etc.
                <br><br>
                Assim, o engajamento ao redor motiva a continuidade das práticas sustentáveis e ambientalmente corretas.      
            </p>
        </div>
      
   
        
<br>
            </p>
        </div>
        <div class="texto">
            <h1>
                3 exemplos de iniciativas de sucesso
            </h1>
        </div>
        <div class="noticia">
            <p>
                Existem centenas de exemplos de iniciativas de educação ambiental para se inspirar.

            </p>
        </div>
        <div class="texto">
            <h3>
                Escolas de São Caetano 
            </h3>
        </div>
        <div class="noticia">
            <p>
                As escolas municipais de São Caetano do Sul são referências internacionais devido às hortas nas quais os alunos aprendem sobre cultivo e alimentação.
<br>
                Além disso, os projetos valorizam a independência das crianças que aprendem pequenos passos para o preparo de refeições naturais e orgânicas com os produtos da horta.
            </p>
        </div>
        <div class="texto">
            <h1>
                VIVO

            </h1>
        </div>
        <div class="noticia">
            <p>
                A empresa Vivo, junto à Fundação Telefônica Vivo, mostra que também é possível promover ações de educação ambiental no meio corporativo por meio de práticas que engajam os colaboradores e clientes.
<br>
                Além de ações pontuais, o Recicle com a Vivo incentiva a reciclagem e descarte correto de eletrônicos em pontos de coleta da empresa.
            </p>
        </div>
        <div class="texto">
            <h3>
                Limpa Brasil
            </h3>
        </div>
        <div class="noticia">
            <p>
                Com foco específico em sustentabilidade está a organização sem fins lucrativos Limpa Brasil, que promove ações de educação ambiental e prática de reciclagem.
<br>
A instituição já esteve à frente de iniciativas em mais de 1.200 cidades com a participação de mais de 650 mil pessoas. O resultado: a coleta de 1.220 toneladas de resíduos.
<br>
Portanto, existem iniciativas de educação ambiental em diferentes áreas e com práticas diversas, mas um propósito em comum: cuidar do meio ambiente. <br>
            </p>
        </div>


    </div>





</body>

</html>