<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noticia</title>
    <link rel="stylesheet" href="style.css">


</head>

<body>
    <div class="geral">
        <div class="texto">
            <h1>Educação ambiental tem papel estratégico, avaliam debatedores em sessão especial</h1>
        </div>
        <div class="noticia">
            <h3> </h3>
            <img src="img/IMG_71518.jpg" alt="" width="" height="">
        </div>
        <div class="noticia">
            <p>
                A função estratégica da educação ambiental para o desenvolvimento sustentável e a conscientização sobre
                as mudanças climáticas foi debatida nesta terça-feira (4) em sessão especial do Senado. Parlamentares,
                ministros, secretários e representantes de órgãos ambientais discutiram as conquistas e os desafios
                vivenciados durante os 25 anos da Política Nacional de Educação Ambiental (PNEA), criada pela Lei 9.795,
                de 1999. 


            </p>
        </div>
        <div class="noticia">
            <p>
                Na sessão, a ministra do Meio Ambiente e Mudança do Clima, Marina Silva, ressaltou que a educação
                ambiental tem um papel fundamental, não só no processo educativo de crianças, mas também, no caso de
                adultos, com uma “pós-educação”, trazendo consciência da necessidade de preservação do meio ambiente.

            </p>
        </div>
        <div class="noticia">
            <p>
                A educação ambiental tem vários papéis e nos ajuda também a pensar diferente em relação ao que queremos
                como país, como sociedade, como comunidade e como indivíduos — declarou Marina na sessão especial,
                requerida pelos senadores Flávio Arns (PSB-PR) e Leila Barros (PDT-DF), presidentes da Comissão de
                Educação (CE) e da Comissão de Meio Ambiente (CMA), respectivamente. A sessão foi presidida pela
                senadora Professora Dorinha Seabra (União-TO), que é vice-presidente da CE.


            </p>
        </div>
        <div class="noticia">
            <p>
                A educação ambiental tem vários papéis e nos ajuda também a pensar diferente em relação ao que queremos
                como país, como sociedade, como comunidade e como indivíduos — declarou Marina na sessão especial,
                requerida pelos senadores Flávio Arns (PSB-PR) e Leila Barros (PDT-DF), presidentes da Comissão de
                Educação (CE) e da Comissão de Meio Ambiente (CMA), respectivamente. A sessão foi presidida pela
                senadora Professora Dorinha Seabra (União-TO), que é vice-presidente da CE.


            </p>
        </div>
        <div class="noticia">
            <p>
                A gente foi ensinado a acreditar que os recursos naturais são praticamente infinitos. Nós fomos educados
                — no velho modelo que ainda é o que está aqui a nos causar tantos problemas, inclusive o que estamos
                vivendo no Rio Grande do Sul [...] — a pensar que a história é sempre progresso, mas às vezes ela também
                tem retrocessos — disse.


            </p>
        </div>
        <div class="noticia">
            <p>
                Em seu discurso, a ministra lembrou quando era senadora e o projeto de lei sobre a PNEA foi analisado no
                Senado. Ele afirmou que o relator do texto, o então senador Darcy Ribeiro (1922-1997), concordou com ela
                sobre a educação ambiental ser uma disciplina transversal, e não apenas uma matéria específica no
                currículo escolar.

            </p>
        </div>
        <div class="noticia">
            <p>
                Para Professora Dorinha, que presidiu a sessão, a educação ambiental é o “instrumento mais poderoso para
                mudar a sociedade”, mas ainda tem um “grande caminho pela frente de fortalecimento” e enfrenta desafios,
                como a falta de responsabilização e a carência de recursos financeiros e humanos.

            </p>
        </div>
        <div class="noticia">
            <p>
                Ao longo desses 25 anos, a Política Nacional de Educação Ambiental tem sido um instrumento fundamental
                para a formação de cidadãos conscientes e engajados na construção de um futuro sustentável. Ela tem
                contribuído para incorporação da dimensão ambiental nos currículos escolares, para a capacitação de
                educadores e para a sensibilização da sociedade — disse a senadora.

            </p>
        </div>
        <div class="texto">
            <h3>
                Mudanças climáticas
            </h3>
        </div>
        <div class="noticia">
            <p>
                Jair Schmitt, diretor de Proteção Ambiental do Instituto Brasileiro do Meio Ambiente e dos Recursos
                Naturais Renováveis (Ibama), afirmou que ao educar a população há o preparo para “ações mais robustas e
                eficazes” para mitigar a mudança do clima. 
                <br>
                Por meio dessa capacitação da sociedade, segundo ele, é possível adotar práticas de mitigação e
                adaptação à mudança climática, como a redução do consumo de energia e a conservação das florestas.
                <br>
                — Ao promover a sustentabilidade desde a infância estamos plantando sementes para um futuro onde o
                desenvolvimento humano esteja em harmonia com a natureza. Vivemos uma era marcada pela emergência
                climática, um dos maiores desafios que a humanidade enfrenta. A educação ambiental tem um papel crucial
                sobre as causas e consequências do aquecimento global — disse Schmitt.
                <br>
                No seu entendimento, por terem caráter transversal, a educação ambiental e a sustentabilidade devem ser
                o objetivo comum de todos os setores governamentais, como as áreas de saúde, agricultura e energia.
                <br>
                Em relação aos desafios da política nacional, a necessidade de reforçar o ensino direcionado nas escolas
                também foi defendida por Zara Figueiredo, secretária de Educação Continuada, Alfabetização de Jovens e
                Adultos, Diversidade e Inclusão do Ministério da Educação.
                <br>
                — 25 anos depois, nós temos apenas 0,2% de gestores e professores formados via educação continuada em
                educação ambiental com no mínimo 80 horas. Esse é um dado alarmante [...] Apenas 7,5% dos professores
                também fizeram uma formação de educação continuada sobre o tema específico de educação ambiental voltado
                para gestão da educação formal em sala de aula — relatou.
                <br>
                Bruno Potiguara, diretor na Secretaria de Gestão Ambiental e Territorial Indígena, destacou que a
                educação ambiental deve considerar a diversidade para ser efetivamente consolidada.
                <br>
                — Precisamos de uma educação etnoambiental, biocultural, culturalmente sensível à diversidade cultural e
                territorialmente referenciada — declarou Potiguara.


            </p>
        </div>
        <div class="texto">
            <h3>
                Tribunais de contas
            </h3>
        </div>
        <div class="noticia">
            <p>O ex-deputado federal Fábio Feldmann, autor do projeto de lei que resultou na criação da PNEA, afirmou
                que o país vivencia desafios de governança ambiental. A solução, segundo ele, inclui a atuação dos
                tribunais de contas como órgãos de controle e prevenção.
                <br>
                — Acho que a gente tem que olhar para os próximos 25 anos, ver onde nós acertamos e onde nós erramos. E,
                na governança, encontrar um pouco de mecanismos de criatividade, como colocar os tribunais de contas do
                estado nessas questões [...] Se nós conseguirmos um protagonismo dos tribunais de contas e
                implementarmos a educação ambiental para valer, daqui a 30 anos nós teremos uma geração e uma sociedade
                brasileira mais preparada para enfrentar os desafios do século 21 — disse.
                <br>
                No debate, o ministro do Tribunal de Contas da União (TCU) Augusto Nardes afirmou ser necessária uma
                política de governança conjunta para evitar catástrofes ambientais, como as enchentes ocorridas no Rio
                Grande do Sul neste ano. Ele também afirmou que o Brasil deve liderar, em nível internacional, uma
                política de desenvolvimento sustentável.
                <br>
                — A tragédia do Rio Grande do Sul poderia ter sido evitada se tivéssemos políticas preventivas, que não
                são de um governo, são de todos os governos, e se nós tivermos política de Estado permanente [...], com
                regras de governança, de direcionar, avaliar e utilizar as ferramentas de governança, porque a avaliação
                de risco é um dos temas, integridade é outro tema — disse o ministro.

            </p>
        </div>
        <div class="texto">
            <h3>
                Ciclo de debates

            </h3>
        </div>
        <div class="noticia">
            <p>A sessão especial marcou a abertura de um ciclo de debates organizado pelas comissões de Meio Ambiente e
                de Educação. A iniciativa integra as ações da campanha Junho Verde, voltada à conscientização sobre a
                sustentabilidade em alusão ao Dia Mundial do Meio Ambiente, comemorado em 5 de junho.
                <br>
                Entre os temas que serão debatidos no ciclo de audiências públicas estão o panorama histórico da
                educação ambiental no país, as perspectivas futuras e o enfrentamento da descontinuidade e a
                pulverização das políticas públicas da área. O evento foi requerido pelos senadores Flávio Arns e Leila
                Barros.

            </p>
        </div>
        <div class="texto">
            <h3>
                Política nacional

            </h3>
        </div>
        <div class="noticia">
            <p>A Política Nacional de Educação Ambiental estabelece princípios, diretrizes e objetivos para a educação
                ambiental no Brasil. É um componente essencial e permanente da educação nacional e deve estar presente
                em todos os níveis e modalidades do processo educativo, em caráter formal e não-formal.
                <br>
                Conforme a lei que criou a política, a educação ambiental corresponde aos processos em que o indivíduo e
                a coletividade constroem valores sociais, conhecimentos, habilidades, atitudes e competências voltadas
                para a conservação do meio ambiente.
            </p>
        </div>


    </div>





</body>

</html>