<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noticia</title>
    <link rel="stylesheet" href="style.css">
    <div class="texto">
    <h1 >Educação ambiental leva à construção de práticas sustentáveis</h1></div>
    <div class="noticia">
    <h3>Incluir práticas sustentáveis no cotidiano requer mudança de comportamento e pensamento crítico</h3>
   
</div>
<div class="noticia">
    <p>
        Em abril deste ano, completam-se 24 anos do reconhecimento da importância da educação ambiental nas escolas. Desde que a lei nº 9795/99 entrou em vigor, as práticas de educação relacionadas ao meio ambiente são aplicadas de forma interdisciplinar e necessária para que a sociedade almeje um mundo mais sustentável.

    </p>
</div>
 <div class="noticia"><img src="img/educaçao ambiental.webp" alt="" width="800" height="600"></div>
<br>
<div class="noticia">
    <p>
        A educação ambiental não poderia se transformar em uma disciplina do currículo escolar. Isso anularia seu caráter de conexão, que transcende as fronteiras disciplinares, o que a torna papel de todo e qualquer educador. A Universidade de Taubaté (UNITAU) fomenta, por meio do Mestrado Profissional em Educação (MPE), a importância do tema, abordado de maneira transversal em todas as disciplinas do curso, preparando docentes especializados na formação de pessoas mais conscientes do meio ambiente. Práticas sustentáveis começam na mudança do comportamento, e a mudança do comportamento só começa por meio da construção de um pensamento crítico.
        <br> <br>
        Para o Prof. Dr. Valter José Cobo, biólogo e docente do MPE da UNITAU, o centro da questão das mudanças climáticas e o trabalho para sua conscientização se encontram na educação.
        <br> <br>
        ‘‘A educação está bem no centro dessa questão, uma vez que o problema do aquecimento global como uma das razões das mudanças climáticas se baseia em ações e atitudes, então, na medida em que fazemos as associações entre nossas atitudes e os impactos que elas produzem em ciclos, processos e mecanismos ambientais, podemos entender nosso papel como responsáveis pelo problema. ’’
        <br> <br>
        Segundo o professor Cobo, a expectativa é que a preocupação com essa questão aumente, com mais pesquisas desenvolvidas e com o debate público nos meios de comunicação.
        <br> <br>
        ‘‘É possível ver a preocupação crescente da nossa sociedade com as questões ambientais, o que me parece ser o resultado da difusão de informações acerca desse tema. Nesse sentido, a importância da escola é inegável, como agente educador que promove essa discussão’’, analisa o Professor.
        <br> <br>
        Para o pesquisador, não existe uma fórmula mágica para a tomada de consciência sobre a importância de cada um como agente de transformação social e ambiental.
        <br> <br>
        “O caminho está certamente na educação, quando se esclarecem as causas e os efeitos, promovendo a compreensão do problema, na discussão das atitudes com impactos positivos e negativos, no agir local e no pensar global, identificando o papel de cada um nesse processo’’.
        <br> <br>
        O Mestrado Profissional em Educação pela UNITAU foi aprovado pelo MEC/CAPES no ano de 2013, com nota 4, e agora, em março de 2023, completa 9 anos desde a primeira turma. A universidade também conta com outros cursos de pós-graduação stricto sensu que abordam a temática ambiental. Mais informações sobre a pós-graduação da UNITAU, você encontra aqui.   
    </p>
</div>
<br>



































</head>
<body>
    
</body>
</html>